footer {
    display: flex;
    justify-content: space-around;
    background-color: #4ecebb;
    flex-wrap: wrap;
  
    .copy {
      padding: 5px;
      color: aliceblue;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
    .redes {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 15px;
  
      a {
        padding: 5px;
        color: aliceblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
      }
    }
  }
  